.kodawariside
  .kodawariside__left
    #dasigazou
      画像
    .yasaisetumei
    #sakegazou
      画像
    .simesetumei
  .kodawariside__right
    .dasisetumei
    #yasaigazou
      画像
    .sakesetumei
    #simegazou
      画像


