.Ttitle
  こだわり
.templates
  .templates__title1
    #titlelink1
      ダシ
  .templates__content1
    .templates__content1__gazou1
      <img src="/assets/DSC_7861.jpeg" class=kodawariimage1>
    .templates__content1__setumei1
      .font1
        ごっつ庵のちゃんこ出汁は鶏ガラベースの塩ちゃんこ味！！
        %br
        大将が長年をかけて研究し、日々進化を続ける出汁は今年で●●年目になりました。(2020年現在)
        %br
        野菜とよく絡み、具材を入れることで味が変化していくよう調整されたこの出汁は、まさに大将の人生をかけた血と涙の結晶そのもの！ただし情熱のかけ具合でいうと趣味のテニスには負けているようです（諸説あり）

  .templates__title2
    #titlelink2
      野菜
  .templates__content2
    .templates__content2__setumei2
      .font2
        ちゃんこ鍋の具材には、大将の実家、香川県高松市西植田町で、土づくりからこだわった両親が育てた新鮮な旬の野菜をできるだけ使用しています。定番の野菜もちろん、野菜の収穫具合によっては春には「たけのこ」、夏には「なす」などの旬のお野菜もお楽しみいただけます！
        %br
        栄養たっぷりの新鮮野菜は、お子様や女性にも大人気！ぜひ一度ご賞味ください！
    .templates__content2__gazou2
      <img src="/assets/concept-photo1.jpeg" class=kodawariimage2>

  .templates__title3
    #titlelink3
      酒
  .templates__content3
    .templates__content3__gazou3
      <img src="/assets/DSC_8395.jpeg" class=kodawariimage3>
    .templates__content3__setumei3
      .font3
        大将の鋭い味覚により選別された当店のお酒達。大将曰く、「俺が直接飲んでうまいと感じた酒しか置いてない。」
        %br
        そんな当店自慢のお酒達は、定番のビールからマイナーな日本酒や地酒、なんとオリジナルのお酒、自家製のチューハイなど幅広く用意しております。

  .templates__title4
    #titlelink4
      シメ
  .templates__content4
    .templates__content4__setumei4
      .font4
        鍋をすればその最後にシメを食べる。
        %br
        こういった家庭も多いのではないでしょうか？当店も中華そばと雑炊の二種類を用意しております。なんとこのシメを食べるためにちゃんこを頼む人も！それもそのはず。出汁が本当の意味で完成するのは、具材を入れて煮込み終わった後になるよう計算されているからです。出来上がった最高の出汁に、にんにくを少し入れて食べる中華そばはそこらの美味いラーメン屋にひけをとりません（自画自賛ですがこれはホントです）
        %br
        うちに来ていただいた際は、ぜひご注文ください！
    .templates__content4__gazou4
      <img src="/assets/DSC_7855.jpeg" class=kodawariimage4>







