
ヘッダーをコピー
.gazou
  <img src="/assets/1on.jpeg" class=image>
.menuname
  ちゃんこ鍋
.ryoukinn
  ¥　2200(税込)
.setumei
  あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ

.footer
  .abc
    .abc__abc
      コピーライト
    .abc__logo
      <img src="/assets/1on.jpg" class=image>
  .abcd
    .abcd__abcd
      TEL(01-1111-1111)
    .abcd__abcde
      RECRUIT
