.inputarea{
  width: 300px;
}
.nameinputarea{
  width: 200px;
}
.signupback{
  width: 100%;
  height: 821px;
  background-image: url("#{asset_path('DSC_8009.jpeg')}");
  background-size: 1500px 821px;
  position: relative;
  .signuptitle{
    font-size: 45px;
    padding-top: 20px;
    padding-left: 20px;
    color: white;

  }
  .signupC{
    position: absolute;
    top: -70px;
    left: 970px;
    position: relative;
    .signuperror{
      top: 90px;
      left: -500px;
      position: absolute;
      color: white;
    }
    .signupform{
      padding-top: 20px;
      width: 450px;
      height: 600px;
      background-color: gold;
      border-radius: 20px;
      font-size: 20px;
      text-align: center;
      filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
      &__email{
  
      }
      &__password{
  
      }
      &__repassword{
  
      }
      &__name{
        display: flex;
        justify-content: space-around;
        &__fname{
  
        }
        &__lname{
  
        }
      }
      &__namekana{
        display: flex;
        justify-content: space-around;
        &__fnamekana{
  
        }
        &__lnamekana{
  
        }
  
      }
      &__age{
      }
      &__ageform{
      }
      &__submit{
        height: 150px;
        line-height: 150px;
        text-align: center;
        .registerbtn{
          margin-top: 20px;
          font-size: 14px;
          border: rgb(33, 30, 132);
          background-color: rgb(33, 30, 132);
          color: white;
          width: 320px;
          height: 50px;
        }
      }
    }
  }
}

