body{
  font-family: “STKaiti”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, serif;
  font-weight: bold;
}
html, body {
  height: 100%;
  margin: 0!important;
  padding: 0!important;
}
.bg-switcher {
  width: 100vw;
  height: 100vh;
  // background-position: center center;
  // background-size: cover;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  .bg-title {
    color: #fff;
    font-size: 5vw;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-family: "Times New Roman", Times, "serif";
  }
  .header {
    height: 11vh;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(33, 30, 132);
    a{
      display: block;
      text-decoration: none;
    }
    a:visited{
      color: rgb(33, 30, 132);
    }
    a:link{
      color: rgb(33, 30, 132);
    }
    &__top{
      display: flex;
      .logo {
        height: 13vh;
        margin: 0 auto;
        width: 25%;

        .image{
          width: 10vh;
          height: 10vh;
          padding-left: 6vw;
          margin-top: 1%;
        }
      }
      .kennsakumado{
        text-align: center;
        width: 50%;
        margin-top: 0.5%;
        &__omotikaeri{
          height: 6vh;
          width: 33.5vw;
          text-align: center;
          margin: 0 auto;
          line-height: 6vh;
          font-size: 30px;
        }
        .tel{
          text-align: center;
          font-size: 25px;
        }
    
      }
      .user{
        // background-color: yellow;
        margin-top: 0.5%;
        text-align: center;
        width: 25%;
        .loginstatus{
        }
        .sinki{
        }
        .login{
        }
      }
    }
  
    &__tab{
      padding-top: 2px;
      height: 5vh;
      line-height: 5vh;
      display: flex;
      .tab1{
        width: 25%;
        text-align: center;
        cursor: pointer;
        z-index: 100;
      }
        .taboya{
          position: relative;
        }
        .tabko{
          position: absolute;
          width: 12.5%;
          text-align: center;
          display: none;
          .dasi{
            background-color: rgba(255, 255, 255, 0.5);
          }
          .yasai{
            background-color: rgba(255, 255, 255, 0.5);
          }
          .sake{
            background-color: rgba(255, 255, 255, 0.5);
          }
          .sime{
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
  
        
      .tab2{
        width: 25%;
        text-align: center;
        z-index: 100;
      }
          .tabkiti{
            background-color: rgba(255, 255, 255, 0.5);
            display: none;
          }
  
          .tabmi{
            position: relative;
            background-color: rgba(255, 255, 255, 0.5);
            display: none;
          }
              .tabchan1{
                display: none;
                width: 100%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                top: 0;
                left: 100%;
              }
              .tabchan2{
                display: none;
                width: 100%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                top: 4.9vh;
                left: 100%;
              }
              .tabchan3{
                display: none;
                width: 100%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                top: 9.8vh;
                left: 100%;
              }
  
  
          .tabjiro{
            position: relative;
            background-color: rgba(255, 255, 255, 0.5);
            display: none;
          }
              .baki{
                position: absolute;
                top: 0;
                left: 100%;
                width: 100%;
                text-align:center;
                display: none;
                background-color: rgba(255, 255, 255, 0.5);
              }
              .kaiou{
                position: absolute;
                top: 4.9vh;
                left: 100%;
                width: 100%;
                text-align: center;
                display: none;
                background-color: rgba(255, 255, 255, 0.5);
              }
              .hanayama{
                position: absolute;
                top: 9.8vh;
                left: 100%;
                width: 100%;
                text-align: center;
                display: none;
                background-color: rgba(255, 255, 255, 0.5);
              }
              .sibukawa{
                position: absolute;
                top: 14.7vh;
                left: 100%;
                width: 100%;
                text-align: center;
                display: none;
                background-color: rgba(255, 255, 255, 0.5);
              }
  
          .tabemon{
            position: relative;
            background-color: rgba(255, 255, 255, 0.5);
            display: none;
          }
              .tabta{
                display: none;
                width: 100%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                top: 0;
                left: 100%;
              }
              .tabkachan{
                display: none;
                width: 100%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                top: 4.9vh;
                left: 100%;
              }
              .jaian{
                display: none;
                width: 100%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                top: 9.8vh;
                left: 100%;
              }
              .tabo{
                display: none;
                width: 100%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                top: 14.8vh;
                left: 100%;
              }
              .tabsugikun{
                display: none;
                width: 100%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
                top: 19.7vh;
                left: 100%;
              }
  
  
  
  
      .tab3{
        width: 25%;
        text-align: center;
      }
      .tab4{
        width: 25%;
        text-align: center;
      }
    }
  }
}


.gazoukurukuru{
  height: 60vh;
  // line-height: 14vh;
  .bigimage{
    height: 60vh;
    width: 100%;
  }
}


.itiran{
  .image{
    height: 40vh;
    width: 40vh;
  }
  &__pickup{
    text-align: center;
    font-size: 40px;
    margin-bottom: 1vh;
    margin-top: 2vh;
  }
  &__gazou{
    // カルーセルのドットの空間利用でtopの位置調整
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    // .a{
    //   width: 20vh;
    //   background-color: blanchedalmond;
    //   .asetumei{
    //     word-break: break-all;
    //     text-align: center;
    //   }
    // }
    .b{
      .bsetumei{
        margin-bottom: 1vh;

        word-break: break-all;
        text-align: center;
      }
    }
    .c{
      .csetumei{
        margin-bottom: 1vh;
        word-break: break-all;
        text-align: center;
      }
    }
    .d{
      .dsetumei{
        margin-bottom: 1vh;
        word-break: break-all;
        text-align: center;
      }
    }
    // .e{
    //   background-color: blanchedalmond;
    //   .esetumei{
    //     word-break: break-all;
    //     text-align: center;
    //   }
    // }
    // .f{
    //   background-color: red;
    //   .fsetumei{
    //     word-break: break-all;
    //     text-align: center;
    //   }
    // }
    // .g{
    //   background-color: blanchedalmond;
    //   .gsetumei{
    //     word-break: break-all;
    //     text-align: center;
    //   }
    // }
    // .h{
    //   background-color: red;
    //   .hsetumei{
    //     word-break: break-all;
    //     text-align: center;
    //   }
    // }
    // .i{
    //   background-color: blanchedalmond;
    //   .isetumei{
    //     word-break: break-all;
    //     text-align: center;
    //   }
    // }
  }
}

.footer{
  height: 180px;
  text-align: center;
  padding-top: 40px;
  .abc{
    &__abc{
    }
    &__logo{
      .image{
        width: 100px;
        height: 100px;
      }
    }
  }
  .abcd{
    display: flex;
    justify-content: center;
    &__abcd{
      width: 160px;
      padding-right: 20px;
    }
    &__abcde{
      width: 160px;

    }
  }
//   .abcde{
//     &__abcde{
//       margin-left: 100px;

//     }
//   }
//   .abcdef{
//     .abcdef__abcdef{
//       margin-left: 100px;

//     }
//   }
}