.gazou{
  text-align: center;
  .image{
    width: 800px;
    height: 700px;
  }

}
.menuname{
  text-align: center;
  font-size: 85px;
}
.ryoukinn{
  text-align: center;
  font-size: 55px;
}
.setumei{
  margin: 0 auto;
  text-align: center;
  width: 600px;
  font-size: 35px;
}